/*==============================*/
/*=====Du champ à l'assiette====*/
/*==============================*/

/*==============*/
/*====GLOBAL====*/
/*==============*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff9f9;
  font-size: 15px;
}

/*==============*/
/*====HEADER====*/
/*==============*/

.menu {
  height: 8rem;
  width: 100%;
  margin: 0 auto;
  background-color: #f8ebb9;
}

.menu ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  width: 100%;
  margin-left: 4rem;
}

.menu a {
  text-decoration: none;
  color: #60b100;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}

.menu a:hover {
  color: white;
}

.menu ul li {
  margin: 3rem 2rem;
}

.logo-top img {
  width: 5rem;
  margin-left: 2rem;
}

.top-mobile {
  display: none;
}

#top-pc {
  width: 100%;
  display: flex;
}

.list-pc {
  width: 100%;
  margin: 0 auto;
}

#menu-burger {
  display: none;
}
#top-pc form input {
  background-color: transparent;
  width: 10rem;
  background-color: #f8ebb9;
  border-radius: 20px;
  padding: 0.4rem;
  height: 2rem;
  margin-top: 2.7em;
  margin-right: 0.8rem;
}

#top-pc form input:focus {
  outline: none;
}

#top-pc form {
  display: flex;
}

.loupe {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  background-color: #60b100;
  width: 2.5rem;
  height: 2.5rem;
  padding: 8px;
  border-radius: 50px;
  margin-top: 1.8rem;
  margin-right: 1rem;
  cursor: pointer;
}

/*===============*/
/*=====FOOTER====*/
/*===============*/

footer {
  background-color: #f8ebb9;
  font-size: 0.625rem;
  border-top: solid 8px #60b100;
}

.top-footer {
  display: flex;
  line-height: 2rem;
  color: #7a7a7a;
  padding-left: 0;
  width: 15rem;
  margin: 0 auto;
}

.contact-footer img {
  width: 4rem;
  height: 4rem;
}

.nav-footer {
  margin: 2.8rem 5rem;
}

.nav-footer a {
  text-decoration: none;
  color: #7a7a7a;
}
.nav-footer a:hover {
  color: white;
}

.nav-footer ul {
  list-style-type: none;
  margin-left: 1rem;
  width: 10rem;
}

.reseaux-footer {
  text-align: center;
}
.fcb-insta .fab {
  margin: 0.4rem 2rem;
  font-size: 1.3rem;
  color: #60b100;
}

.fcb-insta .fa-facebook-f {
  font-size: 1.1rem;
}

.fcbk-insta .fab:hover {
  color: white;
}

/*=====================*/
/*=======Tablette======*/
/*=====================*/
@media screen and (max-width: 768px) {
  /* header */

  #menu-burger {
    display: block;
    margin-right: 1.5rem;
  }
  #top-pc {
    display: flex;
    width: 100%;
    height: 8rem;
  }

  #top-pc form input {
    margin-top: 1.6rem;
  }

  .list-pc li {
    display: none;
  }

  .top-mobile {
    height: 22rem;
    width: 100%;
    background-color: #f8ebb9;
  }

  .list-mobile {
    display: flex;
    flex-direction: column;
    background-color: #f8ebb9;
    width: 100%;
    padding-right: 15%;
    text-align: center;
  }

  .menu a:hover {
    color: white;
  }

  .menu img {
    margin-left: 0.5rem;
    width: 4rem;
    height: 4rem;
  }

  #menu-burger img {
    margin-top: 0.5rem;
    margin-right: 0.5em;
    width: 2.4rem;
    cursor: pointer;
  }

  .loupe {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    background-color: #60b100;
    width: 2.5rem;
    height: 2.5rem;
    padding: 8px;
    border-radius: 50px;
    margin-top: 1.2rem;
    margin-right: 1rem;
  }

  .menu ul li {
    margin: 2rem 10rem;
  }

  .show {
    display: block;
  }

  /*=====footer=======*/

  .top-footer {
    display: flex;
    line-height: 2rem;
    color: #7a7a7a;
    width: 100%;
    padding-left: 30%;
  }

  .nav-footer {
    width: 10rem;
  }

  .nav-footer a {
    text-decoration: none;
    color: #7a7a7a;
  }

  .nav-footer a:hover {
    color: #7a7a7a;
  }

  .nav-footer ul {
    list-style-type: none;
    margin-left: 0;
  }

  .reseaux-footer {
    text-align: center;
  }
  .fcb-insta .fab {
    margin: 0.4rem 2rem;
    font-size: 1.3rem;
    color: #60b100;
  }
  .fcb-insta .fa-facebook-f {
    font-size: 1.1rem;
  }

  .fcbk-insta .fab:hover {
    color: white;
  }
}

/*===================*/
/*======Mobile=======*/
/*===================*/

@media screen and (max-width: 390px) {
  #menu-burger {
    display: block;
    margin-right: 0;
  }
  #top-pc {
    display: flex;
    width: 100%;
    height: 8rem;
    position: relative;
  }

  #top-pc form {
    text-align: left;
    position: absolute;
    left: 5.2rem;
  }

  .list-pc li {
    display: none;
  }

  .top-mobile {
    height: 22rem;
    width: 100%;
    background-color: #f8ebb9;
    z-index: 3;
  }

  .list-mobile {
    display: flex;
    flex-direction: column;
    background-color: #f8ebb9;
    width: 100%;
    padding-right: 20%;
    text-align: center;
  }

  .menu img {
    margin-left: 0.5rem;
    width: 4rem;
    height: 4rem;
  }

  #menu-burger img {
    margin-top: 0.5rem;
    margin-right: 0.5em;
    width: 2.4rem;
    cursor: pointer;
  }

  .loupe {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    background-color: #60b100;
    width: 2.5rem;
    height: 2.5rem;
    padding: 8px;
    border-radius: 50px;
    margin-top: 1.2rem;
    margin-right: 1rem;
  }

  .menu ul li {
    margin: 3rem 0.4rem;
  }

  .hide {
    display: none;
  }
  /* assiette */
  header {
    background-image: url(../img/champ-assiette.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
    position: relative;
  }

  header h1 {
    color: white;
    position: absolute;
    width: 10rem;
    bottom: 2rem;
    left: 7rem;
    text-align: center;
    z-index: 1;
  }

  /* articles */

  .top-article {
    width: 80%;
    margin: 1rem auto;
  }

  .top-recettes {
    width: 80%;
    margin: 1rem auto;
  }

  .top-recettes img {
    width: 50%;
    margin-left: 50%;
  }
  .article-carpaccio {
    display: flex;
    width: 100%;
    margin: 1rem auto;
  }

  .carpaccio {
    width: 30rem;
    text-align: center;
    height: 10rem;
  }

  .article-carpaccio img {
    width: 70%;
    height: 90%;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 1px 1px 1px;
  }

  .text-carpaccio {
    font-size: 12px;
    line-height: 1.1rem;
    margin-right: 1.5rem;
  }

  .p-carpaccio {
    margin-bottom: 1rem;
  }
  .p-quiche span {
    font-weight: bold;
  }
  .lastp-carpaccio {
    margin-bottom: 1rem;
  }

  .text-carpaccio span {
    font-size: 13px;
    color: tomato;
    font-weight: bold;
    cursor: pointer;
  }

  /* footer */

  .top-footer {
    width: 100%;
    padding-left: 4rem;
  }

  .nav-footer {
    width: 15rem;
    margin: 2.7rem 2rem;
  }

  .nav-footer a {
    text-decoration: none;
    color: #7a7a7a;
  }

  .nav-footer ul {
    list-style-type: none;
    margin-right: 1.5rem;
    width: 7.8rem;
  }

  .reseaux-footer {
    text-align: center;
  }

  .fcb-insta .fab {
    margin: 0.4rem 2rem;
    font-size: 1.3rem;
    color: #60b100;
  }

  .fcb-insta .fa-facebook-f {
    font-size: 1.1rem;
  }
}

/*==================================================================*/
