
body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-image: url("../img/bois.png");
    background-attachment: fixed;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    overflow: hidden;
}


/* hyacinthe */


/* ****************************************************************/


/*NOS VALEURS */

/***** menu *****/

.menu {
    height: 5rem;
    z-index: 2;
    width: 100%;
    margin: 0 auto;
    background-color: #f8ebb9;
}

.menu ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 100%;
}

.menu a {
    text-decoration: none;
    color: #60b100;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}

.menu a:hover {
    color: white;
}

.menu ul li {
    margin: 1.5rem 1rem;
}

.logo-top {
    height: 4rem;
    display: flex;
    align-items: center;
}

.logo-top img {
    width: 5rem;
    margin-left: 1%;
}

.top-mobile {
    display: none;
}

#top-pc {
    width: 100%;
}

.list-pc {
    width: 100%;
    margin: 0 auto;
}

#menu-burger {
    display: none;
}

#top-pc form input {
    width: 10rem;
    background-color: #f8ebb9;
    border-radius: 20px;
    padding: 0.4rem;
    height: 2rem;
    margin-top: 2.7em;
    margin-right: 0.8rem;
    border: none;
}

#top-pc form {
    display: flex;
}

.img_princ_valeurs {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/nos-valeurs.jpg");
    width: 120%;
    position: relative;
    right: 10%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

.img_princ_valeurs h1 {
    color: white;
    font-size: 2rem;
    text-shadow: 1px 1px black;
}

.gouttiere_generale {
    overflow: hidden;
}

.environnement {
    margin-top: 6vh;
    color: #333333
}

.environnement p {
    font-size: 15px;
    text-align: start;
    margin-left: 5%;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 70px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 5%;
    text-shadow: 1px 1px black;
}

.environnement h3 {
    font-size: 25px;
    color: white;
    text-shadow: 1px 1px black;
    margin-left: 5%;
}

.nv_produits {
    text-align: center;
}

.nv_produits > h3, .nv_produits > p, .nv_produits > img {
    width: 80%;
}

.nv_produits h3 {
    font-size: 25px;
    color: white;
    text-shadow: 1px 1px black;
    text-align: start;
    margin-left: 5%;
}

.nv_produits img {
    margin-top: 30px;
    margin-bottom: 30px;
}

.nv_produits button:focus {
    outline: 0;
}

.nv_produits > button {
    background-color: #f8ebb9;
    text-align: center;
    border-radius: 20px;
    margin-top: 30px;
    border: none;
    height: 45px;
    width: 13rem;
}

.nv_produits button:hover {
    color: white;
}

.nv_produits p {
    width: 90%;
    font-size: 15px;
    text-align: start;
    margin-left: 5%;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 5%;
    text-shadow: 1px 1px black;
}

.producteurs {
    margin-top: 16vh;
    text-align: center;
}

.producteurs p {
    font-size: 15px;
    text-align: start;
    margin-bottom: 30px;
    width: 90%;
    margin-left: 5%;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 5%;
    text-shadow: 1px 1px black;
}

.producteurs h3 {
    font-size: 25px;
    color: white;
    text-shadow: 1px 1px black;
    text-align: start;
    margin-left: 5%;
}

.producteurs img {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
}
.producteurs > button {
    background-color: #f8ebb9;
    text-align: center;
    border-radius: 20px;
    border: none;
    height: 45px;
    width: 13rem;
}

.producteurs button:focus {
    outline: 0;
}

.producteurs button:hover {
    color: white;
}

.visitez {
    margin-top: 70px;
    margin-bottom: 40px;
}

.visitez p {
    font-size: 15px;
    margin-left: 5%;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 5%;
    text-shadow: 1px 1px black;
}

.btn_visitez {
    background-color: #f8ebb9;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 30px;
    border: none;
    height: 45px;
    width: 13rem;
    outline: 0;
}

.btn_visitez:hover {
    color: white;
}

/*** footer ***/

footer {
    width: 100%;
    background-color: #f8ebb9;
    font-size: 0.625rem;
    border-top: solid 8px #60b100;
}

.top-footer {
    display: flex;
    line-height: 2rem;
    color: #7a7a7a;
    padding-left: 5%;
    width: 15rem;
    flex-direction: column;
}

.contact-footer img {
    width: 4rem;
    height: 4rem;
}

.nav-footer {
    margin: 2.8rem 0 2.8rem 0;
}

.nav-footer a {
    text-decoration: none;
    color: #7a7a7a;
}

.nav-footer a:hover {
    color: white;
}

.nav-footer ul {
    list-style-type: none;
    width: 10rem;
}

.reseaux-footer {
    text-align: center;
}

.fcb-insta .fab {
    margin: 0.4rem 0.5rem;
    font-size: 1.3rem;
    color: #60b100;
}

.fcb-insta .fa-facebook-f {
    font-size: 1.1rem;
}

.fcbk-insta .fab:hover {
    color: white;
}



/*RESPONSIVE **************************************************/


/* "Home Page" Media queries IPAD DEBUT  */
@media screen and (max-width: 768px) {
    #menu-burger {
        display: block;
        height: 3rem;
        margin-right: 1.5rem;
    }

    #top-pc {
        display: flex;
        width: 100%;
        height: 8rem;
    }

    #top-pc form input {
        margin-top: 1.6rem;
    }

    .list-pc {
        height: 5rem;
    }

    .list-pc li {
        display: none;
    }

    .top-mobile {
        position: absolute;
        top: 79px;
        height: 22rem;
        width: 100%;
        z-index: 5;
        background-color: #f8ebb9;
    }

    .list-mobile {
        display: flex;
        flex-direction: column;
        background-color: #f8ebb9;
        width: 100%;
        text-align: center;
    }

    .menu a:hover {
        color: white;
    }

    .menu img {
        margin-left: 0.5rem;
        width: 4rem;
        height: 4rem;
    }

    #menu-burger img {
        margin-top: 0.5rem;
        margin-right: 0.5em;
        width: 2.4rem;
        cursor: pointer;
    }

    .menu ul li {
        margin: 2rem 0 2rem 0;
    }

    .show {
        display: flex;
    }
}

@media screen and (min-width:769px) {
    #hd_paragraphe {
        margin-top: -1%;
    }
    #mn_search button {
        top: 90%;
        height: 6%
    }
    #hd_filtre p {
        font-size: 161%;
    }
    #hd_filtre form {
        height: 6%;
    }
    .nv_produits > img {
        width: 60%;
    }

    .list-pc {
        position: absolute;
        top: 35px;
        width: 60%;
        margin: 0 auto;
    }
    #top-pc {
        display: flex;
        justify-content: center;
    }
    .logo-top {
        position: absolute;
        left: 10px;
        height: 7rem;
    }
    #top-pc {
        height: 8rem;
    }
    header>.menu {
        height: 8rem;
    }
    .menu ul {
        width: 80%;
    }
    /*=====footer=======*/

    .nav-footer {
        width: 10rem;
    }
    .nav-footer a {
        text-decoration: none;
        color: #7a7a7a;
    }
    .nav-footer a:hover {
        color: #7a7a7a;
    }
    .nav-footer ul {
        list-style-type: none;
        margin-left: 0;
    }
    .reseaux-footer {
        text-align: center;
    }
    .fcb-insta .fab {
        font-size: 1.3rem;
        color: #60b100;
    }
    .fcb-insta .fa-facebook-f {
        font-size: 1.1rem;
    }
    .fcbk-insta .fab:hover {
        color: white;
    }
}


/* HOME PAGE IPAD FIN MEDIA QUERIES  */



@media screen and (min-width:1439px) {
    .logo-top {
        left: 11%;
        height: 7rem;
    }
    header {
        width: 80%;
    }

    .img_princ_valeurs h1 {
        font-size: 3rem;
    }
    .environnement h3 {
        margin-left: 20%;
    }

    .environnement > p {
        width: 60%;
        margin-bottom: 100px;
        margin-left: 20%;
        text-align: start;
    }

    .nv_produits h3 {
        margin-left: 20%;
        width: 60%;
    }

    .nv_produits > img {
        width: 80%;
    }

    .nv_produits p {
        width: 60%;
        margin-left: 20%;
        text-align: start;
    }

    .producteurs h3 {
        margin-left: 20%;
    }

    .producteurs > img {
        width: 60%;
    }

    .producteurs > p {
        margin-left: 20%;
        width: 60%;
    }

    .visitez p {
        margin-left: 20%;
        width: 60%;
        font-size: 1.2rem;
    }
}


/* Début Media queries "Page Nos Valeurs"  */

@media screen and (min-width:1300px) {
    .environnement p {
        font-size: 1.2rem;
    }
    .environnement h3 {
        font-size: 1.6rem;
    }
    .nv_produits h3 {
        font-size: 1.6rem;
    }
    .nv_produits img {
        width: 56.3rem;
    }
    .nv_produits p {
        font-size: 1.2rem;
    }
    .producteurs h3 {
        font-size: 1.6rem;
    }
    .producteurs p {
        font-size: 1.2rem;
    }
    .visitez p {
        font-size: 1.2rem;
    }
}

@media screen and (min-width:1023px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .top-footer {
        width: 30%;
        padding-left: 0%;
        flex-direction: row;
        justify-content: space-between;
        font-size: 0.8rem;
    }
    .reseaux-footer > p {
        font-size: 0.8rem;
    }
}

/* Fin Media queries "Page Nos Valeurs" */