@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
    font-family: "Roboto", sans-serif;
    background-image: url("../img/bois.png");
    color: white;
    background-attachment: fixed;
    font-size: 15px;
}

/*==============*/
/*====HEADER====*/
/*==============*/

header {
  width: 80%;
  position: absolute;
  left: 10%;
  z-index: 5;
}

.menu {
  height: 8rem;
  width: 100%;
  margin: 0 auto;
  background-color: #f8ebb9;
}

.menu ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  width: 100%;
  margin-left: 4rem;
}

.menu a {
  text-shadow: none;
  text-decoration: none;
  color: #60b100;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}

.menu a:hover {
  color: white;
}

.menu ul li {
  margin: 3rem 2rem;
}

.logo-top img {
  width: 5rem;
  margin-left: 2rem;
}

.top-mobile {
  display: none;
}

#top-pc {
  width: 100%;
  display: flex;
}

.list-pc {
  width: 100%;
  margin: 0 auto;
}

#menu-burger {
  display: none;
}
#top-pc form input {
  background-color: transparent;
  width: 10rem;
  background-color: #f8ebb9;
  border-radius: 20px;
  padding: 0.4rem;
  height: 2rem;
  margin-top: 2.7em;
  margin-right: 0.8rem;
  display: none;
}

#top-pc form input:focus {
  outline: none;
}

#top-pc form {
  display: flex;
}

.loupe {
  display: none;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  background-color: #60b100;
  width: 2.5rem;
  height: 2.5rem;
  padding: 8px;
  border-radius: 50px;
  margin-top: 1.8rem;
  margin-right: 1rem;
  cursor: pointer;
}

/*===============*/
/*=====FOOTER====*/
/*===============*/

footer {
  background-color: #f8ebb9;
  font-size: 0.625rem;
  border-top: solid 8px #60b100;
  text-shadow: none;
  width: 100%;
}

.top-footer {
  display: flex;
  line-height: 2rem;
  color: #7a7a7a;
  padding-left: 0;
  width: 15rem;
  margin: 0 auto;
}

.contact-footer img {
  width: 4rem;
  height: 4rem;
}

.nav-footer {
  margin: 2.8rem 5rem;
}

.nav-footer a {
  text-decoration: none;
  color: #7a7a7a;
}
.nav-footer a:hover {
  color: white;
}

.nav-footer ul {
  list-style-type: none;
  margin-left: 1rem;
  width: 10rem;
}

.reseaux-footer {
  text-align: center;
}
.fcb-insta .fab {
  margin: 0.4rem 2rem;
  font-size: 1.3rem;
  color: #60b100;
}

.fcb-insta .fa-facebook-f {
  font-size: 1.1rem;
}

.fcbk-insta .fab:hover {
  color: white;
}

/*=====================*/
/*=======Tablette======*/
/*=====================*/
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* header */
  header {
    width: 100%;
    left: 0;
  }
  #menu-burger {
    display: block;
    margin-right: 1.5rem;
  }
  #top-pc {
    display: flex;
    width: 100%;
    height: 8rem;
  }

  #top-pc form input {
    margin-top: 1.6rem;
  }

  .list-pc li {
    display: none;
  }

  .top-mobile {
    height: 22rem;
    width: 100%;
    background-color: #f8ebb9;
    position: relative;
  }

  .list-mobile {
    display: flex;
    flex-direction: column;
    background-color: #f8ebb9;
    width: 100%;
    padding-right: 15%;
    text-align: center;
  }

  .menu a:hover {
    color: white;
  }

  .menu img {
    margin-left: 0.5rem;
    width: 4rem;
    height: 4rem;
  }

  #menu-burger img {
    margin-top: 0.5rem;
    margin-right: 0.5em;
    width: 2.4rem;
    cursor: pointer;
  }

  .loupe {
    display: none;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    background-color: #60b100;
    width: 2.5rem;
    height: 2.5rem;
    padding: 8px;
    border-radius: 50px;
    margin-top: 1.2rem;
    margin-right: 1rem;
  }

  .menu ul li {
    margin: 2rem 10rem;
  }

  .show {
    display: block;
  }
  /*=====footer=======*/

  .top-footer {
    display: flex;
    line-height: 2rem;
    color: #7a7a7a;
    width: 100%;
    padding-left: 30%;
  }

  .nav-footer {
    width: 10rem;
  }

  .nav-footer a {
    text-decoration: none;
    color: #7a7a7a;
  }

  .nav-footer a:hover {
    color: #7a7a7a;
  }

  .nav-footer ul {
    list-style-type: none;
    margin-left: 0;
  }

  .reseaux-footer {
    text-align: center;
  }
  .fcb-insta .fab {
    margin: 0.4rem 2rem;
    font-size: 1.3rem;
    color: #60b100;
  }
  .fcb-insta .fa-facebook-f {
    font-size: 1.1rem;
  }

  .fcbk-insta .fab:hover {
    color: white;
  }
}

/*===================*/
/*======Mobile=======*/
/*===================*/

@media screen and (max-width: 480px) {
  header {
    width: 100%;
    left: 0;
  }

  #menu-burger {
    display: block;
    margin-right: 0;
  }

  #top-pc {
    display: flex;
    width: 100%;
    height: 8rem;
    position: relative;
  }

  #top-pc form {
    text-align: left;
    position: absolute;
    left: 5.2rem;
  }

  .list-pc li {
    display: none;
  }

  .top-mobile {
    height: 22rem;
    width: 100%;
    background-color: #f8ebb9;
    position: relative;
  }

  .list-mobile {
    display: flex;
    flex-direction: column;
    background-color: #f8ebb9;
    width: 100%;
    padding-right: 20%;
    text-align: center;
  }
  .menu img {
    margin-left: 0.5rem;
    width: 4rem;
    height: 4rem;
  }

  #menu-burger img {
    margin-top: 0.5rem;
    margin-right: 0.5em;
    width: 2.4rem;
    cursor: pointer;
  }

  .loupe {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    background-color: #60b100;
    width: 2.5rem;
    height: 2.5rem;
    padding: 8px;
    border-radius: 50px;
    margin-top: 1.2rem;
    margin-right: 1rem;
    margin-left: 11rem;
  }

  .menu ul li {
    margin: 3rem 0.4rem;
  }

  .show {
    display: flex;
    align-items: center;
  }
  /*======footer=======*/

  .top-footer {
    width: 100%;
    padding-left: 4rem;
  }

  .nav-footer {
    width: 15rem;
    margin: 2.7rem 2rem;
  }

  .nav-footer a {
    text-decoration: none;
    color: #7a7a7a;
  }

  .nav-footer ul {
    list-style-type: none;
    margin-right: 1.5rem;
    width: 7.8rem;
  }

  .reseaux-footer {
    text-align: center;
  }

  .fcb-insta .fab {
    margin: 0.4rem 2rem;
    font-size: 1.3rem;
    color: #60b100;
  }

  .fcb-insta .fa-facebook-f {
    font-size: 1.1rem;
  }
}

/* ================================= */

.background_opacity_partenaires_producteurs {
    background: rgba(255, 255, 255, 0.15);
    width: 100%;
    height: 100%;
}

.partenaire_text {
    padding: 1rem;
    border-radius: 5%;
}

.rouge {
    color: rgba(255, 0, 0, 0.7);
    margin-top: 2%;
}

.histoire_producteurs:nth-child(1) {
    padding-bottom: 2%;
}

.opacity_text_nos_partenaires {
    text-shadow: 1px 1px black;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6%;
    border: none;
}

.img_princ_nos_producteurs {
    position: relative;
    width: 100%;
    height: 59vh;
    background-image: url("../img/warren-wong-J33qmCVr02A-unsplash.jpg");
    background-size: cover;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    filter: sepia(49%);
    display: flex;
    justify-content: center;
}

.img_princ_nos_producteurs p {
    color: white;
    font-size: 35px;
    bottom: 10%;
    text-align: center;
    position: absolute;
    margin-top: 15%;
}

.partenaire_text {
    margin-top: 15%;
}

.producteurs_semaine>p {
    text-align: center;
    margin-top: 10%;
}

.producteurs_semaine img {
    border-radius: 31px;
    box-shadow: 1px 2px black;
    width: 100%;
    margin-top: 6%;
}

.histoire_producteurs span {
    display: none;
}

.visitez_notre_site {
  border-radius: 20px;
  border: none;
  background-color: #f8ebb9;
  height: 6vh;
  width: 13rem;
  margin-top: 7vh;
  cursor: pointer;
  margin-bottom: 20%;
}



.visitez_notre_site a {
    text-decoration: none;
    color: black;
}

.visitez_notre_site a:hover {
    color: white;
    cursor: pointer;
}

.visitez_notre_site:focus {
    outline: 0;
}

.visitez_notre_site:hover {
    color: white;
    cursor: pointer;
    ;
}

.gouttiere_globale {
    margin-left: 40px;
    margin-right: 40px;
}

@media screen and (min-width: 445px) and (max-width: 1440px) {
  header {
    width: 100%;
    left: 0;
  }

  .blog .img_princ_nos_producteurs p {
    left: 50%;
    transform: translateX(-50%);
  }

}

@media screen and (min-width: 540px) {
    .gouttiere_globale {
        margin-left: 140px;
        margin-right: 140px;
    }
    .gouttiere_sous_image_main {
        margin-left: 10%;
        margin-right: 10%;
    }
}


/* MEDIA IPAD */

@media screen and (min-width: 768px) {
    .gouttiere_globale {
        margin-left: 60px;
        margin-right: 60px;
    }
    .marge_sous_image_main {
        margin-left: 8%;
        margin-right: 8%;
    }
}


@media screen and (min-width: 1024px) {
    .partenaire_text p {
        font-size: 3vw;
    }
    .producteurs_semaine p:nth-child(-n+6) {
        font-size: 35px;
        font-weight: bold;
        text-align: center;
    }
    .visitez_notre_site button {
        height: 8vh;
        width: 24rem;
        font-size: 2rem;
    }
    /* @media screen and (min-width:1024px) { */
    .text_one {
        font-size: 35px;
        padding: 1rem;
        border-radius: 57px;
    }
    .producteurs_semaine img {
        border-radius: 31px;
        box-shadow: 1px 2px black;
        width: 64%;
        margin-top: 3%;
        transform: translateX(-50%);
        margin-left: 50%;
    }
    .partenaire_text {
        margin-top: 6%;
    }
    .producteurs_semaine p:nth-child(-n+5) {
        font-size: 27px;
        text-align: start;
    }
    .partenaire_text p {
        font-size: 25px;
    }
    .producteurs_semaine>p {
        display: flex;
        justify-content: center;
    }
    .producteurs_semaine p:nth-child(1) {
        text-align: start;
    }
}

@media screen and (min-width: 1440px) {
    .img_princ_nos_producteurs {
        height: 83vh;
    }
    .marge {
        margin-left: 10%;
        margin-right: 10%;
    }
    .histoire_producteurs span {
        display: block;
        font-size: 25px;
    }
    .img_princ_nos_producteurs p {
        font-size: 45px;
    }
    .text_head p {
        font-size: 45px;
    }
    .text_one p {
        font-size: 25px;
        padding: 1rem;
    }
    .producteurs_semaine p:nth-child(1) {
        font-size: 35px;
    }
    .producteurs_semaine p:nth-child(-n+5) {
        font-size: 25px;
        padding-bottom: 18px;
    }
    .partenaire_text {
        font-size: 25px;
        line-height: 35px;
    }
    .visitez_notre_site button {
        height: 8vh;
        width: 13rem;
        font-size: 22px;
    }
}


/*===========*/


/*===Blog====*/


/*===========*/


/* Global */

.blog {
    margin-top: 2rem;
    display: flex;
    min-height: 80vh;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.blog-left {
    width: 40%;
    display: flex;
}

.blog-article {
    width: 60%;
}


/* Partie Gauche */

.blog-posts {
    color: white;
    width: 18rem;
    margin: 1rem auto;
    opacity: 1;
}

.post1,
.post2,
.post3,
.post4 {
    background-color: white;
    width: 15rem;
    text-align: center;
    padding: 2px;
    margin-bottom: 1.5rem;
}

.blog .blog-posts button {
    font-size: 17px;
    text-decoration: none;
    color: black;
    font-weight: lighter;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 20% 0;
    padding: 20px;
    font-weight: bold;
}

.blog button:focus {
    outline: none;
}

.blog .blog-posts button:hover {
    color: #60b100;
}

.blog-left h1 {
    border-bottom: solid 1px rgb(0, 0, 0);
    width: 15rem;
    text-align: center;
    margin-bottom: 5%;
}


/* Partie Droite */

.blog-article {
    margin-top: 1rem;
}

.blog-article h1 {
    font-size: 25px;
    margin: 1rem 0;
}

.slider-img img {
    width: 100%;
    height: 100%;
}

.box-slider1,
.box-slider2,
.box-slider3,
.box-slider4 {
    visibility: hidden;
}

#slider1,
#slider2,
#slider3,
#slider4 {
    position: absolute;
    box-shadow: 1px 1px 1px black;
    width: 44rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.text-article {
    padding: 1rem 2rem;
}

.digital-blue {
    color: #60b100;
}

.show {
    visibility: visible;
}

.paragraphe_après_caroussel {
  width: 100%;
  margin: 2rem auto;
  text-align: center;
  height: 20rem;
}

