/*==============================*/


/*===========HOMEPAGE===========*/


/*==============================*/


/*======================================================================*/


/*==============*/


/*====GLOBAL====*/


/*==============*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
body {
    font-family: "Roboto", sans-serif;
    background-color: #fff9f9;
    font-size: 15px;
}


/*==============*/


/*====HEADER====*/


/*==============*/

.menu {
    height: 8rem;
    width: 100%;
    margin: 0 auto;
    background-color: #f8ebb9;
}

.menu ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    margin-left: 4rem;
}

.menu a {
    text-decoration: none;
    color: #60b100;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}

.menu a:hover {
    color: white;
}

.menu ul li {
    margin: 3rem 2rem;
}

.logo-top img {
    width: 5rem;
    margin-left: 2rem;
}

.top-mobile {
    display: none;
}

#top-pc {
    width: 100%;
    display: flex;
}

.list-pc {
    width: 100%;
    margin: 0 auto;
}

#menu-burger {
    display: none;
}

#top-pc form input {
    background-color: transparent;
    width: 10rem;
    background-color: #f8ebb9;
    border-radius: 20px;
    padding: 0.4rem;
    height: 2rem;
    margin-top: 2.7em;
    margin-right: 0.8rem;
    border: none;
}

#top-pc form {
    display: flex;
}

.loupe {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    background-color: #60b100;
    width: 2.5rem;
    height: 2.5rem;
    padding: 8px;
    border-radius: 50px;
    margin-top: 1.8rem;
    margin-right: 1rem;
    cursor: pointer;
}


/*==Background image==*/


/*====================*/

.hd_main_image {
    background-image: url("../img/gautier-salles-_NAwOXcyxFk-unsplash.jpg");
    width: 100%;
    height: 83vh;
    background-size: cover;
    position: relative;
    /* border-bottom-left-radius: 20%;*/
    /*border-bottom-right-radius: 20%; */
    -webkit-clip-path: circle(61% at 50% 35%);
    clip-path: circle(61% at 50% 35%);
}

h1 {
    color: white;
    position: absolute;
    top: 100px;
    text-align: start;
    left: 5%;
    width: 369px;
    font-size: 27px;
}

#hd_filtre {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    min-height: 84%;
    width: 100%;
    color: white;
}

#hd_filtre p {
    position: absolute;
    top: 60%;
    width: 73vw;
    left: 5%;
}


/*====================*/


/*==Background image==*/


/*====================*/

label {
    font: 1rem "Fira Sans", sans-serif;
}

#hd_filtre form {
    display: flex;
    position: absolute;
    bottom: 11rem;
    background-color: transparent;
    width: 13rem;
    background-color: #f8ebb9;
    border-radius: 20px;
    padding: 0.4rem;
    transform: translate(50%, 50%);
    right: 50%;
}

form input:focus {
    outline: 0;
}

#hd_filtre input {
    border-radius: 15px;
    border: none;
    font-weight: bold;
    background: transparent;
}

#hd_filtre input {
    color: black;
    text-align: center;
}

#hd_filtre form img {
    cursor: pointer;
    height: 1.9rem;
    margin-left: 3vw;
}


/*=======================*/


/*========MAIN===========*/


/*=======================*/

main p:nth-child(-n+5) {
    text-align: start;
    margin-left: 5%;
    width: 89%;
    font-size: 91%;
}

main p:nth-child(2) {
    width: 89%;
    font-size: 91%;
}

main p {
    width: 60%;
}

#hd_paragraphe {
    margin-top: -68px;
}

#mn_search button {
    position: absolute;
    right: 50%;
    transform: translate(-50%, 50%);
    background-color: #f8ebb9;
    width: 60vw;
    text-align: center;
    border-radius: 20px;
    border: none;
    height: 6vh;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 50%);
    background-color: #f8ebb9;
    width: 13rem;
    top: 90.4%;
}

#mn_search button:hover {
    color: white;
    cursor: pointer;
    animation: pulsation_bouton 0.8s ease-out;
}

#mn_search a {
    text-decoration: none;
    color: black;
}

@keyframes pulsation_bouton {
    from {
        box-shadow: 0 0 0 -3px hsla(0, 0%, 100%, 0), 0 0 0 0 hsl(0, 0%, 98%);
    }
    to {
        box-shadow: 0 0 0 10px hsla(0, 0%, 100%, 0), 0 0 0 13px hsla(0, 0%, 100%, 0);
    }
}

#mn_search button:active {
    -webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;
    position: relative;
    top: 7px;
}


/*===============*/


/*=====FOOTER====*/


/*===============*/

footer {
    background-color: #f8ebb9;
    font-size: 0.625rem;
    border-top: solid 8px #60b100;
}

.top-footer {
    display: flex;
    line-height: 2rem;
    color: #7a7a7a;
    padding-left: 0;
    width: 15rem;
    margin: 0 auto;
}

.contact-footer img {
    width: 4rem;
    height: 4rem;
}

.nav-footer {
    margin: 2.8rem 5rem;
}

.nav-footer a {
    text-decoration: none;
    color: #7a7a7a;
}

.nav-footer a:hover {
    color: white;
}

.nav-footer ul {
    list-style-type: none;
    margin-left: 1rem;
    width: 10rem;
}

.reseaux-footer {
    text-align: center;
}

.fcb-insta .fab {
    margin: 0.4rem 2rem;
    font-size: 1.3rem;
    color: #60b100;
}

.fcb-insta .fa-facebook-f {
    font-size: 1.1rem;
}

.fcbk-insta .fab:hover {
    color: white;
}


/*=====================*/


/*=======Tablette======*/


/*=====================*/

@media screen and (max-width: 768px) {
    /* header */
    #menu-burger {
        display: block;
        margin-right: 1.5rem;
    }
    #top-pc {
        display: flex;
        width: 100%;
        height: 8rem;
    }
    #top-pc form input {
        margin-top: 1.6rem;
    }
    .list-pc li {
        display: none;
    }
    .top-mobile {
        height: 22rem;
        width: 100%;
        background-color: #f8ebb9;
    }
    .list-mobile {
        display: flex;
        flex-direction: column;
        background-color: #f8ebb9;
        width: 100%;
        padding-right: 15%;
        text-align: center;
    }
    .menu a:hover {
        color: white;
    }
    .menu img {
        margin-left: 0.5rem;
        width: 4rem;
        height: 4rem;
    }
    #menu-burger img {
        margin-top: 0.5rem;
        margin-right: 0.5em;
        width: 2.4rem;
        cursor: pointer;
    }
    .loupe {
        text-align: center;
        font-size: 1.5rem;
        color: white;
        background-color: #60b100;
        width: 2.5rem;
        height: 2.5rem;
        padding: 8px;
        border-radius: 50px;
        margin-top: 1.2rem;
        margin-right: 1rem;
    }
    .menu ul li {
        margin: 2rem 10rem;
    }
    .show {
        display: block;
    }
    /*=====footer=======*/
    .top-footer {
        display: flex;
        line-height: 2rem;
        color: #7a7a7a;
        width: 100%;
        padding-left: 30%;
    }
    .nav-footer {
        width: 10rem;
    }
    .nav-footer a {
        text-decoration: none;
        color: #7a7a7a;
    }
    .nav-footer a:hover {
        color: #7a7a7a;
    }
    .nav-footer ul {
        list-style-type: none;
        margin-left: 0;
    }
    .reseaux-footer {
        text-align: center;
    }
    .fcb-insta .fab {
        margin: 0.4rem 2rem;
        font-size: 1.3rem;
        color: #60b100;
    }
    .fcb-insta .fa-facebook-f {
        font-size: 1.1rem;
    }
    .fcbk-insta .fab:hover {
        color: white;
    }
}


/*===================*/


/*======Mobile=======*/


/*===================*/

@media screen and (max-width: 390px) {
    #menu-burger {
        display: block;
        margin-right: 0;
    }
    #top-pc {
        display: flex;
        width: 100%;
        height: 8rem;
        position: relative;
    }
    #top-pc form {
        text-align: left;
        position: absolute;
        left: 5.2rem;
    }
    .list-pc li {
        display: none;
    }
    .top-mobile {
        height: 22rem;
        width: 100%;
        background-color: #f8ebb9;
    }
    .list-mobile {
        display: flex;
        flex-direction: column;
        background-color: #f8ebb9;
        width: 100%;
        padding-right: 20%;
        text-align: center;
    }
    .menu img {
        margin-left: 0.5rem;
        width: 4rem;
        height: 4rem;
    }
    #menu-burger img {
        margin-top: 0.5rem;
        margin-right: 0.5em;
        width: 2.4rem;
        cursor: pointer;
    }
    .loupe {
        text-align: center;
        font-size: 1.5rem;
        color: white;
        background-color: #60b100;
        width: 2.5rem;
        height: 2.5rem;
        padding: 8px;
        border-radius: 50px;
        margin-top: 1.2rem;
        margin-right: 1rem;
    }
    .menu ul li {
        margin: 3rem 0.4rem;
    }
    .hide {
        display: none;
    }
    /* footer */
    .top-footer {
        width: 100%;
        padding-left: 4rem;
    }
    .nav-footer {
        width: 15rem;
        margin: 2.7rem 2rem;
    }
    .nav-footer a {
        text-decoration: none;
        color: #7a7a7a;
    }
    .nav-footer ul {
        list-style-type: none;
        margin-right: 1.5rem;
        width: 7.8rem;
    }
    .reseaux-footer {
        text-align: center;
    }
    .fcb-insta .fab {
        margin: 0.4rem 2rem;
        font-size: 1.3rem;
        color: #60b100;
    }
    .fcb-insta .fa-facebook-f {
        font-size: 1.1rem;
    }
}


/*==================================================================*/


/***************************************************/


/*RESPONSIVE HYACINTHE **************************************************/


/***************************************************/


/* "Home Page" Media queries IPAD DEBUT  */


/***************************************************/

@media screen and (min-width:540px) and (max-width:720px) {
    #hd_paragraphe {
        margin-top: -30px;
    }
}

@media screen and (min-width:540px) and (max-width:720px) {
    #hd_filtre form img {
        height: 1.9rem;
        margin-left: 3vw;
    }
}

@media screen and (min-width:1024px) {
    h1 {
        font-size: 6vw;
    }
    #hd_filtre p {
        font-size: 3vw;
    }
    #hd_filtre form {
        height: 6vw;
        width: 16rem;
    }
    #hd_filtre form img {
        height: 2.9rem;
        margin-left: -38px;
    }
    #hd_filtre input {
        font-size: 20px;
        margin-left: -2vw;
    }
    main p:nth-child(-n+4) {
        text-align: start;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    #hd_paragraphe {
        font-size: 20px;
    }
    #mn_search button {
        width: 16rem;
        height: 6vw;
    }
    #mn_search a {
        font-size: 18px;
    }
}

@media screen and (min-width:768px) {
    h1 {
        font-size: 301%;
        width: 85%;
    }
    #hd_paragraphe {
        margin-top: -1%;
    }
    main p:nth-child(2) {
        padding-top: 0;
    }
    main p:nth-child(-n+6) {
        text-align: start;
        margin-left: 5%;
        margin-top: 0;
        padding-top: 0;
        width: 67%;
    }
    #mn_search button {
        top: 90%;
        height: 6%
    }
    #hd_filtre p {
        font-size: 161%;
    }
    .hd_main_image {
        height: 78vh;
    }
    #hd_filtre form {
        height: 6%;
        bottom: 9rem;
    }
    #hd_filtre form img {
        margin-left: 0;
    }
}


/* HOME PAGE IPAD FIN MEDIA QUERIES  */


/*HOME PAGE LAPTOP DEBUT MEDIA QUERIES 1140PX*/

@media screen and (min-width:1440px) {
    h1 {
        font-size: 5vw;
        width: 83vw;
        margin-left: 7%;
    }
    .hd_main_image {
        clip-path: none;
        border-bottom-left-radius: 18%;
        border-bottom-right-radius: 18%;
        height: 78vh;
    }
    #hd_filtre {
        border-bottom-left-radius: 18%;
        border-bottom-right-radius: 18%;
    }
    #hd_filtre p {
        font-size: 2vw;
        width: 47vw;
        top: 38vw;
        margin-left: 7%;
    }
    #hd_filtre form {
        position: absolute;
        right: 20vw;
        top: 35.3vw;
        height: 5vw;
    }
    #hd_filtre form img {
        margin-top: 5px;
    }
    #hd_paragraphe {
        margin-top: 53px;
        font-size: 27px;
        margin-left: 7%;
    }
    #mn_search button {
        margin-top: 120px;
    }
    #mn_search a {
        font-size: 23px;
        letter-spacing: 3px;
    }
}