/*================*/
/*====HOMEPAGE====*/
/*================*/

/*======================================================================*/

/*==============*/
/*====GLOBAL====*/
/*==============*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff9f9;
  font-size: 15px;
}

/*==============*/
/*====HEADER====*/
/*==============*/

.menu {
  height: 8rem;
  width: 100%;
  margin: 0 auto;
  background-color: #f8ebb9;
}

.menu ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  width: 100%;
  margin-left: 4rem;
}

.menu a {
  text-decoration: none;
  color: #60b100;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}

.menu a:hover {
  color: white;
}

.menu ul li {
  margin: 3rem 2rem;
}

.logo-top img {
  width: 5rem;
  margin-left: 2rem;
}

.top-mobile {
  display: none;
}

#top-pc {
  width: 100%;
  display: flex;
}

.list-pc {
  width: 100%;
  margin: 0 auto;
}

#menu-burger {
  display: none;
}
#top-pc input {
  background-color: transparent;
  border: 1px solid #7a7a7a;
  padding: 15px 30px;
  border-radius: 50px;
  width: 100%;
  font-size: 16px;
}

.loupe {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  background-color: #60b100;
  width: 2.5rem;
  height: 2.5rem;
  padding: 8px;
  border-radius: 50px;
  margin-top: 2.2%;
  margin-right: 1rem;
}

/*===============*/
/*=====FOOTER====*/
/*===============*/

footer {
  background-color: #f8ebb9;
  font-size: 0.625rem;
  border-top: solid 8px #60b100;
}

.top-footer {
  display: flex;
  line-height: 2rem;
  color: #7a7a7a;
  padding-left: 0;
  width: 15rem;
  margin: 0 auto;
}

.contact-footer img {
  width: 4rem;
  height: 4rem;
}

.nav-footer {
  margin: 2.8rem 5rem;
}

.nav-footer a {
  text-decoration: none;
  color: #7a7a7a;
}
.nav-footer a:hover {
  color: white;
}

.nav-footer ul {
  list-style-type: none;
  margin-left: 1rem;
  width: 10rem;
}

.reseaux-footer {
  text-align: center;
}
.fcb-insta .fab {
  margin: 0.4rem 2rem;
  font-size: 1.3rem;
  color: #60b100;
}

.fcb-insta .fa-facebook-f {
  font-size: 1.1rem;
}

.fcbk-insta .fab:hover {
  color: white;
}

/*=====================*/
/*=======Tablette======*/
/*=====================*/
@media screen and (max-width: 768px) {
  /* header */

  #menu-burger {
    display: block;
    margin-right: 1.5rem;
  }
  #top-pc {
    display: flex;
    width: 100%;
    height: 8rem;
  }

  .list-pc li {
    display: none;
  }

  .top-mobile {
    height: 22rem;
    width: 100%;
    background-color: #f8ebb9;
  }

  .list-mobile {
    display: flex;
    flex-direction: column;
    background-color: #f8ebb9;
    width: 100%;
    padding-right: 15%;
    text-align: center;
  }

  .menu a:hover {
    color: white;
  }

  .menu img {
    margin-left: 0.5rem;
    width: 4rem;
    height: 4rem;
  }

  #menu-burger img {
    margin-top: 0.5rem;
    margin-right: 0.5em;
    width: 2.4rem;
    cursor: pointer;
  }

  .loupe {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    background-color: #60b100;
    width: 2.5rem;
    height: 2.5rem;
    padding: 8px;
    border-radius: 50px;
    margin-top: 1.2rem;
    margin-right: 1rem;
  }

  .menu ul li {
    margin: 2rem 10rem;
  }

  .show {
    display: block;
  }

  /*=====footer=======*/

  .top-footer {
    display: flex;
    line-height: 2rem;
    color: #7a7a7a;
    width: 100%;
    padding-left: 30%;
  }

  .nav-footer {
    width: 10rem;
  }

  .nav-footer a {
    text-decoration: none;
    color: #7a7a7a;
  }

  .nav-footer a:hover {
    color: #7a7a7a;
  }

  .nav-footer ul {
    list-style-type: none;
    margin-left: 0;
  }

  .reseaux-footer {
    text-align: center;
  }
  .fcb-insta .fab {
    margin: 0.4rem 2rem;
    font-size: 1.3rem;
    color: #60b100;
  }
  .fcb-insta .fa-facebook-f {
    font-size: 1.1rem;
  }

  .fcbk-insta .fab:hover {
    color: white;
  }
}

/*===================*/
/*======Mobile=======*/
/*===================*/

@media screen and (max-width: 390px) {
  #menu-burger {
    display: block;
    margin-right: 0;
  }
  #top-pc {
    display: flex;
    width: 100%;
    height: 8rem;
  }

  .list-pc li {
    display: none;
  }

  .top-mobile {
    height: 22rem;
    width: 100%;
    background-color: #f8ebb9;
  }

  .list-mobile {
    display: flex;
    flex-direction: column;
    background-color: #f8ebb9;
    width: 100%;
    padding-right: 20%;
    text-align: center;
  }

  .menu img {
    margin-left: 0.5rem;
    width: 4rem;
    height: 4rem;
  }

  #menu-burger img {
    margin-top: 0.5rem;
    margin-right: 0.5em;
    width: 2.4rem;
    cursor: pointer;
  }

  .loupe {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    background-color: #60b100;
    width: 2.5rem;
    height: 2.5rem;
    padding: 8px;
    border-radius: 50px;
    margin-top: 1.2rem;
    margin-right: 1rem;
  }

  .menu ul li {
    margin: 3rem 0.4rem;
  }

  .hide {
    display: none;
  }

  /* footer */

  .top-footer {
    width: 30rem;
    padding-left: 2rem;
  }

  .nav-footer {
    width: 15rem;
    margin: 2.7rem 2rem;
  }

  .nav-footer a {
    text-decoration: none;
    color: #7a7a7a;
  }

  .nav-footer ul {
    list-style-type: none;
    margin-left: 1.5rem;
  }

  .reseaux-footer {
    text-align: center;
  }

  .fcb-insta .fab {
    margin: 0.4rem 2rem;
    font-size: 1.3rem;
    color: #60b100;
  }

  .fcb-insta .fa-facebook-f {
    font-size: 1.1rem;
  }
}

/*==================================================================*/

/*==============================*/
/*=====Du champ à l'assiette====*/
/*==============================*/

/*====================*/
/*=====NEWSLETTER=====*/
/*====================*/

.text-newsletter h2 {
  text-transform: uppercase;
}

@media screen and (max-width: 390px) {
  form {
    position: relative;
    width: 80%;
  }

  input {
    background-color: transparent;
    border: 1px solid #7a7a7a;
    padding: 15px 30px;
    border-radius: 50px;
    width: 100%;
    font-size: 16px;
  }

  input:focus {
    border-width: 2px;
    outline: none;
    box-shadow: 0px 0px 10px #f8ebb9;
  }

  input::placeholder {
    color: #7a7a7a;
  }

  form.error input {
    border: 2px solid #f8ebb9;
  }

  .error-icon {
    display: none;
    position: absolute;
    top: 15px;
    right: 110px;
  }

  button {
    background-image: linear-gradient(135deg, #e9d792, #f8ebb9);
    padding: 13px;
    border-radius: 50px;
    width: 90px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 2px 5px 10px hsla(0, 36%, 70%, 0.5);
    transition: opacity 0.2s ease;
  }

  form.error .error-icon {
    display: block;
  }

  small {
    display: none;
    margin-top: 15px;
    margin-left: 30px;
    color: #60b100;
  }

  form.error small {
    display: block;
  }

  button:hover {
    opacity: 0.6;
  }
}
